p
{
    color: rgb(125, 66, 78);
    font-size: 1em;
}

.titre
{
    color:rgb(0, 0, 0);
    font-size: 3em;
    font-family: 'Comic sans MS',Courier 'Courier New', Courier, monospace, Impact, 'Arial Narrow Bold', sans-serif;
    border: 0.1em rgb(68, 68, 68) solid;
    border-radius: 0.4em;
    box-shadow: 0.2em 0.2em 0.2em black;

}
body
{
    background-color: blanchedalmond;
    margin: 0px;
}
a:visited
{
    color: rgb(84, 89, 69);
}

nav
{
    float: left;
    width: 20%;
    color: beige;
    background-color: black;
    height: 100%;
    position: fixed;

}
#Inter
{
    float: right;
    width: 80%;
}
#Experience
{
    float: right;
    width: 80%;
}
#Competence
{
    float: right;
    width: 80%;
}
#foot
{
    float: right;
    width: 80%;
}
header
{
    float: right;
    width: 80%;
}
head
{
    float: left;
    width: 100%;
}

.gif
{
    width: auto;
    height: 333px;
}
.rick
{
    float: left;
    margin: 5px;
    width: 175px;
    height: 45px;
}

.logo
{
    width: 18%;
    height: auto;
}
